CommStaClassLibrary/CommStaClassLibrary/Web References/CommSta/CommStaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommStaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://major-comm.com/CommStaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_VKontakte_Sta_InputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_StaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_ForNew_InputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta_ForNew" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_ForNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta_ForNewResponse" />
  </wsdl:message>
  <wsdl:message name="IService_OK_Sta_InputMessage">
    <wsdl:part name="parameters" element="tns:OK_Sta" />
  </wsdl:message>
  <wsdl:message name="IService_OK_Sta_OutputMessage">
    <wsdl:part name="parameters" element="tns:OK_StaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_OK_Sta_ForNew_InputMessage">
    <wsdl:part name="parameters" element="tns:OK_Sta_ForNew" />
  </wsdl:message>
  <wsdl:message name="IService_OK_Sta_ForNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:OK_Sta_ForNewResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="VKontakte_Sta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VKontakte_Sta" message="tns:IService_VKontakte_Sta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VKontakte_StaResponse" message="tns:IService_VKontakte_Sta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VKontakte_Sta_ForNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VKontakte_Sta_ForNew" message="tns:IService_VKontakte_Sta_ForNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VKontakte_Sta_ForNewResponse" message="tns:IService_VKontakte_Sta_ForNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OK_Sta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/OK_Sta" message="tns:IService_OK_Sta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OK_StaResponse" message="tns:IService_OK_Sta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OK_Sta_ForNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/OK_Sta_ForNew" message="tns:IService_OK_Sta_ForNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OK_Sta_ForNewResponse" message="tns:IService_OK_Sta_ForNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VKontakte_Sta">
      <soap:operation soapAction="http://tempuri.org/IService/VKontakte_Sta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VKontakte_Sta_ForNew">
      <soap:operation soapAction="http://tempuri.org/IService/VKontakte_Sta_ForNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OK_Sta">
      <soap:operation soapAction="http://tempuri.org/IService/OK_Sta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OK_Sta_ForNew">
      <soap:operation soapAction="http://tempuri.org/IService/OK_Sta_ForNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VKontakte_Sta">
      <soap:operation soapAction="http://tempuri.org/IService/VKontakte_Sta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VKontakte_Sta_ForNew">
      <soap:operation soapAction="http://tempuri.org/IService/VKontakte_Sta_ForNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OK_Sta">
      <soap:operation soapAction="http://tempuri.org/IService/OK_Sta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OK_Sta_ForNew">
      <soap:operation soapAction="http://tempuri.org/IService/OK_Sta_ForNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommStaService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://major-comm.com/CommStaService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService" binding="tns:BasicHttpsBinding_IService">
      <soap:address location="https://major-comm.com/CommStaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>