CommStaClassLibrary/CommStaClassLibrary/Web References/CommSta/CommStaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommStaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://major-comm.com/CommStaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://major-comm.com/CommStaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://major-comm.com/CommStaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommSta" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_VKontakte_Sta_InputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_StaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_ForNew_InputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta_ForNew" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_ForNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta_ForNewResponse" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_CloseDay_InputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta_CloseDay" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_CloseDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta_CloseDayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_ByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta_ByDate" />
  </wsdl:message>
  <wsdl:message name="IService_VKontakte_Sta_ByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:VKontakte_Sta_ByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="VKontakte_Sta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VKontakte_Sta" message="tns:IService_VKontakte_Sta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VKontakte_StaResponse" message="tns:IService_VKontakte_Sta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VKontakte_Sta_ForNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VKontakte_Sta_ForNew" message="tns:IService_VKontakte_Sta_ForNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VKontakte_Sta_ForNewResponse" message="tns:IService_VKontakte_Sta_ForNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VKontakte_Sta_CloseDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VKontakte_Sta_CloseDay" message="tns:IService_VKontakte_Sta_CloseDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VKontakte_Sta_CloseDayResponse" message="tns:IService_VKontakte_Sta_CloseDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VKontakte_Sta_ByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VKontakte_Sta_ByDate" message="tns:IService_VKontakte_Sta_ByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VKontakte_Sta_ByDateResponse" message="tns:IService_VKontakte_Sta_ByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VKontakte_Sta">
      <soap:operation soapAction="http://tempuri.org/IService/VKontakte_Sta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VKontakte_Sta_ForNew">
      <soap:operation soapAction="http://tempuri.org/IService/VKontakte_Sta_ForNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VKontakte_Sta_CloseDay">
      <soap:operation soapAction="http://tempuri.org/IService/VKontakte_Sta_CloseDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VKontakte_Sta_ByDate">
      <soap:operation soapAction="http://tempuri.org/IService/VKontakte_Sta_ByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommStaService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://major-comm.com/CommStaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>